services:
  firebase-emulator:
    build:
      context: .
      dockerfile: Dockerfile.emu
    working_dir: /workspace
    volumes:
      - .:/workspace
      - ../cic-kit:/cic-kit:ro
      - emu_node_modules:/workspace/node_modules
      - emu_functions_node_modules:/workspace/functions/node_modules
      - emu_cache:/root/.cache/firebase/emulators
    ports:
      - "5173:5173"
      - "4000:4000"
      - "5000:5000"
      - "5001:5001"
      - "8080:8080"
      - "9099:9099"
      - "9199:9199"
    environment:
      - CHOKIDAR_USEPOLLING=true

volumes:
  emu_node_modules:
  emu_functions_node_modules:
  emu_cache:
